.background{
    min-width: 100vw;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
}
mat-card {
    display: flex;
}
#list-content{
    border-right: 1px solid rgb(133, 133, 133);
    width: 50%;
}
#content {
    width: 80%;
    padding-left: 18px;
}
.custom-list{
    cursor: pointer;
    outline: none;
}