<h4>Maior numero de 5</h4>
<br>
<form>
    <mat-form-field>
        <input type="number" matInput placeholder="Informe Valor" [(ngModel)]="numero" name="numero">
    </mat-form-field>
    <button mat-raised-button color="accent" type="button" (click)="maiorNumero()" [disabled]="qtd == 0">Inserir</button>
    <br>
    <span>Voce pode inserir {{ qtd }} numeros</span>
    <br>
    <br>
    <span>Voce inseriu</span>
    <div *ngFor="let n of numeros">
      {{ n }}
    </div>
    <h5>Maior numero</h5>
    {{maior}}
</form>